@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.subscribe {
  @include flex(space-between, center, column);
  height: 287px;
  background-color: $gray-background-color;

  &__header {
    @include typography($header-font-size, $color: $subscribe-header-color);
    margin-top: 73px;
    letter-spacing: 0.75px;
    @media screen and (max-width: $small) {
      font-size: $header-font-size - 10px;
      letter-spacing: 0;
    }
  }

  &__email-form {
    @include flex(center, center);
    margin-bottom: 74px;
    border-bottom: 2px solid $email-input-border-color;
    width: 400px;
    padding-bottom: 9px;
    background: inherit;
    @media screen and (max-width: $small) {
      width: 250px;
    }
  }

  &__input[type="email"] {
    @include typography();
    flex: 1;
    border: 0;
    background: $gray-background-color;
    outline: 0;
  }

  &__button {
    @include flex(normal, center);
    margin-right: 5px;
    border: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;
  }
  &__button-image {
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }

  &_stretch {
    align-self: stretch;
  }
}
