@import "../mixins/mixins.scss";
.menu {
  width: 573px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    align-items: flex-end;
  }

  &__link {
    @include typography();
    text-decoration: none;
    text-transform: uppercase;
    color: $default-text-color;
    transition: 200ms ease;
    @media screen and (max-width: $medium) {
      line-height: $default-line-height + 6px;
      font-size: $default-font-size + 16px;
      display: none;
    }

    &:hover {
      color: $header-link-color-hover;
    }
  }

  &__button {
    @include typography($header-mobile-menu-open-button-font-size, $header-mobile-menu-button-font, normal);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
    @media screen and (max-width: $medium) {
      display: block;
    }
    &:after {
      margin-right: -2px;
      content: attr(data-closed);
    }
  }
}