@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.block-sections {
  @include flex(space-between, $flex-wrap: wrap);
  box-sizing: border-box;
  padding: 0 $narrow-content-padding 122px $narrow-content-padding;
  @media screen and (max-width: $large) {
    padding: 0 $narrow-content-padding - 60px 122px $narrow-content-padding - 60px;
  }
  @media screen and (max-width: $medium) {
    padding: 0 $narrow-content-padding - 90px 122px $narrow-content-padding - 90px;
  }
  @media screen and (max-width: $small) {
    padding: 0 $narrow-content-padding - 115px 122px $narrow-content-padding - 115px;
  }
}
