@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__image-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 66.34%;
    &:hover,
    &:hover + .section__article .section__header-wrapper {
      opacity: 0.8;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    transition: 200ms ease;
    display: block;
    width: 100%;
    height: auto;
  }

  &__link {
    @include typography($default-font-size, $link-font, normal, 300, uppercase, $link-color);
    align-self: flex-start;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &__header-wrapper {
    align-self: flex-start;
    text-decoration: none;
  }

  &__header {
    @include typography($header-font-size, $default-font, normal);
    &:hover {
      opacity: 0.8;
    }
  }

  &__text {
    width: 100%;
    color: $default-text-color;
    @include typography();
  }

  &_magazine-cover {
    box-sizing: border-box;
    width: 100%;
    padding: 0 $wide-content-padding;
    @media screen and (max-width: $medium) {
      padding: 0 $wide-content-padding - 30px;
    }
    @media screen and (max-width: $small) {
      padding: 0 $wide-content-padding - 50px;
    }
    .section__image-wrapper {
      margin-bottom: 99px;
      padding-bottom: 48%;
      @media screen and (max-width: $small) {
        margin-bottom: 29px;
      }
    }
    .section__article {
      box-sizing: border-box;
      padding: 0 $narrow-inside-wide-content-padding;
      @media screen and (max-width: $large) {
        padding: 0 $narrow-inside-wide-content-padding - 60px;
      }
    }
    .section__text {
      margin-bottom: 52px;
      @media screen and (max-width: $small) {
        margin-bottom: 22px;
      }
    }
  }

  &_position-left {
    margin-right: 20px;
  }

  &_position-right {
    margin-left: 20px;
  }

  &_basic-section {
    flex: 1 1 300px;
    margin-top: 135px;
    max-width: 100%;
    min-width: 300px;
    @media screen and (max-width: $section-wrap) {
      flex: 0 1 auto;
      margin: 135px auto 0 auto;
    }
    @media screen and (max-width: $small) {
      flex: 0 1 auto;
      margin: 95px auto 0 auto;
      min-width: 200px;
    }

    .section__image-wrapper {
      margin-bottom: 32px;
      width: 100%;
      height: auto;
    }
  }
}
