@import '../variables/variables.scss';

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;

&:before {
  content: "";
  flex-grow: 1;
}

&__link {
  text-decoration: none;
  font-family: $default-font;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  transition: 200ms ease;

  &:hover {
    opacity: 0.7;
  }
}

&__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $gray-background-color;
  padding: 40px 0;
  margin-top: 100px;
  height: 97px;
  box-sizing: border-box;
}

&__left-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 199px;
  margin-left: 150px;

  @media screen and (max-width: $first-main-breakpoint) {
    margin-left: 80px;
  }
  @media screen and (max-width: $third-main-breakpoint) {
    margin-left: 40px;
  }
  @media screen and (max-width: 500px) {
    margin-left: 20px;
    width: 150px;
  }
}

&__right-block {
  width: 139px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 71px;
  margin-left: 10px;
  @media screen and (max-width: 500px) {
    margin-right: 40px;
  }
}
}
