.social-media-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  min-width: 500px;
  padding: 0;
  list-style: none;

  &_margin-left {
    margin-left: 50px;
    @media screen and (max-width: $screen-medium-size){
      margin-left: 0;
    }
  }

  &__small {
    width: 100%;
    max-width: 340px;
    min-width: 0;
  }

  &__link{
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.6;
    }
  }
}