@import "../global/global.scss";

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  background-image: url(../assets/images/header-poster.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &__page-name {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 43px;
    width: 800px;
    text-align: center;
    font-weight: 100;
    line-height: 75px;
    letter-spacing: 2.4px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    font-size: $font-size-extremely-large;
    font-family: $primary-font;
    color: $header-text-color;
  }

  &__asterisk-text {
    z-index: 1;
    opacity: 0.6;
    margin: 0;
    font-size: $font-size-very-small;
    font-family: $primary-font;
    color: $header-text-color;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.56px;
  }

  &__link {
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 400ms ease;
    margin-top: 39px;
    margin-bottom: 19px;
    border-radius: 3px;
    border: 0;
    width: 190px;
    height: 50px;
    outline: 0;
    background-color: $registration-button-bg-color;
    cursor: pointer;
    font-family: $primary-font;
    font-size: $font-size-small;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    text-decoration: none;
    color: $registration-button-text-color;

    &:active {
      box-shadow: inset 10px 10px 35px -4px rgba(0,0,0,0.54);
    }

    &:not(:active):hover{
      box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.54);
    }
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}
