@import "pallete.scss";

$header-bg-color: $color-black;
$header-links-color: $color-white;

$article-devider-primary-color: $color-crusta;
$article-devider-secondary-color: $color-white;
$article-button-bordered-color: $color-white;
$article-button-filled-color: $color-crusta;
$article-header-primary-color: $color-black;
$article-header-secondary-color: $color-white;
$article-primary-text-color: $color-oslo-gray;
$article-secondary-text-color: $color-white;
$article-button-text-color: $color-white;

$form-button-bg-color: $color-crusta;
$form-button-text-color: $color-white;
$form-header-color: $color-mine-shaft;
$form-header-label-color: $color-neon-carrot;
$form-header-bg-color: $color-wild-sand;
$form-inputs-wrapper-bg: $color-white;
$form-input-color: $color-silver;

$section-shadow-color: $color-edward;
$section-secondary-color: $color-wild-sand;

$price-block-text-bg-color: $color-mine-shaft;
$price-block-header-color: $color-white;
$price-block-price-color: $color-white;
$price-block-price-duration-color: $color-oslo-gray;
$price-block-label-bg-color: $color-crusta;
$price-block-label-color: $color-white;
$price-block-pricing-feature-bg: $color-white;
$price-block-pricing-feature-color: $color-mine-shaft;

$comment-block-text-bg: $color-wild-sand;
$comment-block-text-color: $color-oslo-gray;
$comment-block-author-name-color: $color-mine-shaft;
$comment-block-author-position-color: $color-oslo-gray;
