$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$font-size-very-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-very-large: 36px;
$font-size-button: 15px;