$color-black: #000000;
$color-white: #ffffff;
$color-crusta: #ff893e;
$color-oslo-gray: #86878b;
$color-mine-shaft: #333333;
$color-neon-carrot: #ff8b38;
$color-wild-sand: #F5F5F5;
$color-silver: #bdbdbd;
$color-edward: #acadad;