@import "../variables/variables.scss";
.header {
  display: flex;
  justify-content: center;
  max-height: 150px;

  &__wrapper {
    max-width: $max-page-width;
    padding: 75px $wide-content-padding;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $medium) {
      padding: 45px $wide-content-padding - 30px;
    }
    @media screen and (max-width: $small) {
      padding: 45px $wide-content-padding - 50px;
    }
  }

  &__page-name {
    @include typography($header-font-size, $header-page-name-font, $default-line-height, 400, uppercase);
    color: $header-page-name;
    margin-right: 100px;
    letter-spacing: 6px;
    @media screen and (max-width: $small) {
      margin-right: 0;
    }
  }

  &__menu-data-input {
    display: none;
  }

  &__menu-data-input:checked + .menu .menu__link {
    display: block;
  }
  &__menu-data-input:checked + .menu .menu__button {
    font-size: $header-mobile-menu-close-button-font-size;
    width: 60px;
  }

  &__menu-data-input:checked + .menu .menu__button:after {
    margin-right: 0;
    content: attr(data-opened);
  }
  &__menu-data-input:checked + .menu {
    @media screen and (max-width: $medium) {
      top: 0;
      left: 0;
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $mobile-menu-background;
      align-items: center;
      justify-content: space-around;
    }
  }
}
