@import "pallete.scss";

$primary-color: $color-mine-shaft;
$secondary-color: $color-bittersweet;
$tertiary-color: $color-white;
$quaternary-color: $color-pampas;
$quinary-color: $color-rhino;
$senary-color: $color-trout;
$septenary-color: $color-shark;
$octonary-color: $color-gray;
$nonary-color: $color-gallery;
$denary-color: $color-athens-gray;

$main-page-bg-color: $tertiary-color;

$play-button-color-first: $quinary-color;
$play-button-color-second: $denary-color;

$registration-button-bg-color: $secondary-color;
$registration-button-text-color: $tertiary-color;

$text-block-label-color: $secondary-color;
$text-block-header-color: $primary-color;
$text-block-color: $octonary-color;

$decorator-triangle-bg-color: $nonary-color;
$decorator-triangle-color: $secondary-color;

$main-wrapper-sub-background: $quaternary-color;

$founders-image-bg-color: $senary-color;
$founders-image-border-color: $septenary-color;
$founders-primary-text-color: $tertiary-color;

$safary-bg-color: $nonary-color;

$registration-input-bg-color: #454d74;
$registration-input-border-color: #9a9ab8;
$registration-text-color: $tertiary-color;
$registration-block-bg: $quinary-color;
$registration-form-header-color:$tertiary-color;

$terms-services-color: $quaternary-color;

$founders-block-background: #000000;

$footer-text-color: $primary-color;
$footer-main-header-color: #2c2f49;
$footer-sub-main-header-color: $tertiary-color;
$footer-input-bg: #f6f6f6;
$footer-input-font-color: #bdc1c3;
$footer-submit-button-color: $secondary-color;