@import "pallete.scss";

$header-text-color: $color-mine-shaft;

$main-page-bg-color: $color-white;

$play-button-color-first: $color-rhino;
$play-button-color-second: $color-athens-gray;

$registration-button-bg-color: $color-bittersweet;
$registration-button-text-color: $color-white;

$text-block-label-color: $color-bittersweet;
$text-block-header-color: $color-mine-shaft;
$text-block-color: $color-gray;

$decorator-triangle-bg-color: $color-gallery;
$decorator-triangle-color: $color-bittersweet;

$main-wrapper-sub-background: $color-pampas;

$founders-image-bg-color: $color-trout;
$founders-image-border-color: $color-shark;
$founders-primary-text-color: $color-white;

$safary-bg-color: $color-gallery;

$registration-input-bg-color: $color-fiord;
$registration-input-border-color: $color-amethyst-smoke;
$registration-text-color: $color-pampas;
$registration-block-bg: $color-rhino;
$registration-form-header-color:$color-white;

$terms-services-color: $color-pampas;

$founders-block-background: $color-black;

$footer-text-color: $color-mine-shaft;
$footer-main-header-color: $color-martinique;
$footer-sub-main-header-color: $color-white;
$footer-input-bg: $color-wild-sand;
$footer-input-font-color: $color-silver-sand;