@import "pallete.scss";

$primary-color: $color-mine-shaft;
$secondary-color: $color-bittersweet;
$tertiary-color: $color-white;
$quaternary-color: $color-pampas;
$quinary-color: $color-rhino;
$senary-color: $color-trout;
$septenary-color: $color-shark;
$octonary-color: $color-gray;
$nonary-color:  $color-gallery;