$primary-font: 'Exo', sans-serif;
$footer-main-header-font: 'Lato', sans-serif;

$font-size-very-small: 14px;
$font-size-small: 16px;
$font-size-medium: 22px;
$font-size-large: 27px;
$font-size-very-large: 40px;
$font-size-extremely-large: 60px;