$color-bittersweet: #ff6d6d;
$color-rhino: #323969;
$color-mine-shaft: #282828;
$color-white: #ffffff;
$color-pampas: #f6f5f3;
$color-gallery: #ededed;
$color-shark: #1d1e24;
$color-trout: #4e4e5e;
$color-gray: #8d8d8d;
$color-athens-gray: #f4f5f7;
$color-black: #000000;
$color-fiord: #454d74;
$color-amethyst-smoke: #9a9ab8;
$color-silver-sand: #bdc1c3;
$color-wild-sand: #f6f6f6;
$color-martinique: #2c2f49;