$gray-background-color: #f0f0f0;
$default-text-color: #626262;
$link-color: #b4ad9e;
$link-footer-color: #000000;
$header-page-name: #000000;
$email-input-border-color: #000000;
$load-more-button-background: #ffffff;
$subscribe-header-color: #333333;
$mobile-menu-background: #ffffff;
$header-link-color-hover: #1c1c1c;
