$link-font: "Ubuntu", sans-serif;
$default-font: "Playfair Display", serif;
$header-page-name-font: "Inconsolata", monospace;
$header-mobile-menu-button-font: "Inconsolata", monospace;
$default-font-size: 14px;
$default-line-height: 24px;
$header-font-size: 30px;
$load-more-font-size: 18px;
$header-mobile-menu-close-button-font-size: 90px;
$header-mobile-menu-open-button-font-size: 50px;
$header-mobile-menu-open-button-line-height: 20px;